.footer__encloser {
    background-color: black;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer__encloser > section {
    min-height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__info {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.footer__info > span {
    height: 30px;
    min-width: 30px;
    background-color: blueviolet;
}
.footer__info > h3 {
    margin-left: 10px;
    color: white;
}
.footer__encloser > section > p {
    color: whitesmoke;
    font-weight: 400;
} 
.footer__encloser > main {
    display: flex;
    width: 65%;
}
.footer__links {
    width: 20%;
}
.footer__links > h5 {
    margin-bottom: 0;
    color: whitesmoke;
    font-weight: 400;
}
.footer__links > ul {
    padding: 0;
}
.footer__links > ul > li {
    list-style: none;
    margin-bottom: 13px;
    font-size: 14px;
    color: white;
    font-weight: 500;
}
.footer__links > ul > li > a:hover {
    text-decoration: underline;
}
.footer__links > ul > li > span {
    background-color: rgba(28, 197, 28, 0.5);
    margin-left: 10px;
    border-radius: 10px;
    padding: 1px 4px;
    font-size: 11px;
    font-weight: 500;
    color: white;
}
.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    padding: 0 80px;
}
.footer__copyright > h5 {
    color: black;
    font-weight: 500;
}
.footer__copyright > h5 > span {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: -1px;
}
.footer__icons {
    display: flex;
}
.footer__icons li {
    list-style: none;
    margin-right: 15px;
    color: white;
    font-size: 14px;
}
.footer__icons > li > span {
    height: 20px;
    min-width: 20px;
    display: block;
    cursor: pointer;
}
.footer__icons > li > span:hover {
   opacity: 0.6;
}

@media screen and (max-width:900px) {
    .footer__encloser {
        flex-direction: column;
        padding: 20px 40px;
    }
    .footer__encloser > section {
        width: 100%;
    }
    .footer__encloser > main {
        width: 100%;
        justify-content: space-between;
    }
}
@media screen and (max-width:700px) {
    .footer__encloser {
        flex-direction: column;
        padding: 20px 60px;
    }
    .footer__encloser > main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__links {
        width: 50%;
    }
    .footer__copyright {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 10px 40px;
    }
    .footer__icons {
        padding: 0;
    }
    .footer__copyright > h5 {
        margin-top: 5px;
    }
}
@media screen and (max-width:500px) {
    .footer__encloser {
        padding: 20px 20px;
    }
    .footer__copyright {
        padding: 10px 20px;
    }
}